@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

.container {
  max-width: 1880px;
  margin: 0 auto;
  padding: 18px; /* mobile */
}

/* sm */
@media (min-width: 640px) {
  .container {
    padding: 24px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    padding: 50px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    padding: 60px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    padding: 60px;
  }
}

.container-header {
  max-width: 1880px;
  margin: 0 auto;
}

/* second container */
.containers {
  max-width: 110rem; /* 7xl = 1280px */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Color Variables */
:root {
  --font: "Poppins", sans-serif;
  --color-primary: #009dc4; /* --color-greenish*/
  --color-secondary: #f1cf69; /* --color-yell */
  --color-tertiary: #e6f7fb;
  --color-accent: #34d399; /* --bg-grn */
  --color-dark: #acd7f3; /* Deep teal #acd7f3,*/
  --color-greenish: #6d8c54; /*  greenish-#6d8c54 */
}

.section-padding-header {
  padding-top: 4px;
}

html,
body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* css for Hero button */

@layer components {
  .btn-primary-hero {
    @apply relative inline-block font-semibold uppercase overflow-hidden 
    tracking-[0.14em] sm:tracking-[0.16em]
    px-6 sm:px-9 py-3 sm:py-4
    rounded-[3px]
    bg-(--color-secondary)
    text-[var(--color-greenish)]
    text-[10px] sm:text-[clamp(10px,1vw,12px)]
    cursor-pointer
    transition-transform duration-300
    hover:-translate-y-0.5
    hover:text-white;
  }

  .btn-primary-hero-overlay {
    @apply absolute inset-0 
    bg-[var(--color-greenish)]
    -translate-x-[110%]
    transition-transform duration-1000;
  }

  .btn-primary-hero:hover .btn-primary-hero-overlay {
    transform: translateX(110%);
  }
}

/* Button For other Sections */
@layer components {
  /* Secondary Button */
  .btn-secondary {
    @apply relative
    rounded-lg
    shadow-lg shadow-black/25
    overflow-hidden
    transition-transform duration-300
    hover:-translate-y-0.5;
  }

  .btn-secondary-overlay {
    @apply absolute inset-0
    bg-(--color-primary)
    -translate-x-[110%]
    transition-transform duration-500;
  }

  .btn-secondary:hover .btn-secondary-overlay {
    transform: translateX(110%);
  }

  /* primary Button */
  .btn-primary {
    @apply relative
    rounded-lg
    shadow-lg shadow-black/25
    overflow-hidden
    transition-transform duration-300
    hover:-translate-y-0.5;
  }

  .btn-primary-overlay {
    @apply absolute inset-0
    bg-(--color-secondary)
    -translate-x-[110%]
    transition-transform duration-500;
  }

  .btn-primary:hover .btn-primary-overlay {
    transform: translateX(110%);
  }

  /* Outline Button primary */
  .btn-primary-outline {
    @apply relative inline-flex items-center gap-2
    border-2 border-(--color-primary)
    text-(--color-primary)
    font-semibold text-base
    px-10 py-4 rounded-lg
    shadow-lg shadow-black/25
    overflow-hidden
    transition-transform duration-300
    hover:-translate-y-0.5
    hover:text-(--color-secondary);
  }

  .btn-primary-outline-overlay {
    @apply absolute inset-0
    bg-(--color-primary)
    -translate-x-[110%]
    transition-transform duration-500;
  }

  .btn-primary-outline:hover .btn-primary-outline-overlay {
    transform: translateX(110%);
  }

  /* Outline Button secondary */
  .btn-secondary-outline {
    @apply relative inline-flex items-center gap-2
    border-2 border-[var(--color-secondary)]
    text-(--color-secondary)
    font-semibold text-base
    px-10 py-4 rounded-lg
    shadow-lg shadow-black/25
    overflow-hidden
    transition-transform duration-300
    hover:-translate-y-0.5
    hover:text-(--color-primary);
  }

  .btn-secondary-outline-overlay {
    @apply absolute inset-0
    bg-(--color-secondary)
    -translate-x-[110%]
    transition-transform duration-500;
  }

  .btn-secondary-outline:hover .btn-secondary-outline-overlay {
    transform: translateX(110%);
  }
}

/* Add these to your globals.css for custom Swiper pagination dots */

.custom-pagination .swiper-pagination-bullet {
  @apply w-1.5 h-1.5 rounded-full bg-white/40 opacity-100 transition-all duration-300;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-white w-5;
}
