@import "tailwindcss";

.container {
  max-width: 1880px;
  margin: 0 auto;
  padding: 60px;
}
.container-header {
  max-width: 1880px;
  margin: 0 auto;
  
}
/* color veriables */
@theme {
  --color-primary: #059669;
  --color-tealBrand: #2dd4bf;
  --color-cyanBrand: #67e8f9;
}

@media (max-width: 640px) {
  .container {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 35px;
  }
}

.section-padding-header {
  padding-top: 4px;
}

html,
body {
  overflow-x: hidden;
  background-color: #ffffff;
}

